
@using (Html.BeginForm("SearchResult", "Home", FormMethod.Get, new { @id = "searchform" }))
{


    <input class="form-control mr-sm-2" id="searchbar" type="search" name="searchItem" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-secondary my-2 my-sm-0" id="searchbutton" type="submit">Search</button>

}